name: Pre-release Build

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read

jobs:
  build:
    name: Pre-release Build
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: true

      - name: Install sqlc
        run: go install github.com/sqlc-dev/sqlc/cmd/sqlc@latest

      - name: Generate sqlc code
        run: sqlc generate

      - name: Build
        run: go build -v -o PanickedBot .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: PanickedBot
          path: ./PanickedBot
